{% extends "base.html.twig" %}

{% block title %}Nouvelle note{% endblock %}

{% block body %}

<h1 class='text-white'> Création d'une nouvelle note</h1>

<div  class="card p-4">
    {{ form_start(form) }}
        <div class="my-custom-class-for-errors">
            {{ form_errors(form) }}
        </div>

        <div class="row mb-3">
            <div class="col-md-8">
            <label for="" class="form-label">Quel est le sujet de cette note ?</label>
                {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-md-4">
            <label for="" class="form-label">Qui est l'auteur?</label>
                {{ form_widget(form.author, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-12">
            <label for="" class="form-label">Ecrivez une courte description.</label>
                {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-12">
            <label for="" class="form-label">Contenu de votre note.</label>
                {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    {{ form_end(form) }}
</div>

{% endblock %}